.hudPersoPlayer2{
    position: absolute;
    left: 41.5%;
    top: 0;
    max-width: 17%;


}
.orlvlimghudP2{
    position: absolute;
    max-width: 6.8%;
    top: 8.5%;
    left: 56.5%
}
.player2Or{
    position: absolute;
    color: beige;
    font-size: 2vw;
    font-weight: 700;
    left : 59.5%;
    top: 8.5%;
}
.hpimghudP2{
    position: absolute;
    max-width: 2.6%;
    top: 22%;
    left: 48.7%
}
.player2Pv{
    position: absolute;
    color: beige;
    font-size: 1.7vw;
    font-weight: 700;
    left: 49%;
    top: 23.5%
}
.player2Lvl{
    position: absolute;
    color: beige;
    font-size: 2vw;
    font-weight: 700;
    top: 37%;
    left: 60%
}