.hudActu{
    position: absolute;
    max-width: 10%;
    left: 32%;
    top: 10%;
}

.hudPersoShop{
    position: absolute;
    left: 41.5%;
    max-width: 17%;
    top: 0;
}

.hudLvlUp{
    position: absolute;
    max-width: 10%;
    right: 32%;
    top: 10%;
}