.shopBoard{
    position: absolute;
    top: 31%;
    left: 24%;
    right: 24%;
    bottom: 50%;
    display: flex;
    justify-content: center;
}
.cardfight{
    position: relative;
    width: 15vh;
}
.cardimg{
    position: absolute;
    max-width: 100%;
}

.hudIntAtk{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 700;
    bottom: 3.5vh;
    left: 17%;
    margin-bottom: 0;

}
.hudIntPv{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    font-weight: 700;
    bottom: 22%;
    right: 13%;
    margin-bottom: 0;
}