body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-image: url("img/fond1.png");
    background-repeat: no-repeat;
    background-size:cover;

}
.header{
    position: relative;
    max-height: 280px;
    display: flex;
    justify-content: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: none; /* Caché par défaut */
    z-index: 1000;
}

.popup button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.iaAndTaverneHud{
    position: relative;
}

.hudActu{
    position: relative;
}
.hudLvlUp{
    position: relative;
}
.hudPersoShop{
    position: relative;
    max-width: 35%;
    left: 5%;
}

