.body{
    margin: 0;
    background-image: url('img/fond.png');
    position: absolute;
    width: 100%;
    
}
.header{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 216px;
}

.main{
    margin-top: 10px;
    height: 400px;
}

.footer{
    height: 240px;
}

.iaAndTaverneHud{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.iaBoard{
    display: flex;
    justify-content: center;
    height: 200px;
    
    
}
.shopBoard{
    display: flex;
    justify-content: center;
    height: 200px;
    
}

.boardFight{
    height: 200px;
}


.playerBoard{
    display: flex;
    justify-content: center;
    height: 200px;
   
}
.playerHud{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 165px;
    position: absolute;
    left: 855px;
}

.imgHudOr{
    position: absolute;
}
.playerOr{
    position: relative;
    color: white;
    font-size: 25px;
    left: 60px;
    top: 5px;
}

.imgHudLvl{
    position: absolute;
}
.playerLvl{
    position: relative;
    color: white;
    font-size: 25px;
    left: 60px;
    top: 5px;
}

.playerPv{
    position: relative;
    color: white;
    font-size: 25px;
    left: 88px
}

.imgHudOrTaverne{
    position: absolute;
    bottom: 50px;
}
.taverneCost{
    position: relative;
    color: white;
    font-size: 25px;
    left: 60px;
    bottom: 37px
}


.playerLvlTaverne{
    position: relative;
    color: white;
    font-size: 25px;
    left: 75px;
    top: 12px

    
}

.playerDeck{
    width: 850px;
    height: 250px;
    position: absolute;
}

.nextPhaseButton{
    position: absolute;
    right: 80px;
    top: 720px;
}

.imgMessage{
    margin: 10px;
    width: 40%;
    height: 50%;
    
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: none; /* Caché par défaut */
    z-index: 1000;
}

.popup button {
    display: block;
    margin: 10px auto 0;
    padding: 5px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.board-dropzone {
    height: 150px;
    width: 1400px;
    margin:auto;
    border: 10px;
    border-style: groove;
    border-color: rgb(206, 144, 63);
    background-color: rgb(24, 23, 23,0.7);
}

.cardfight{
    width: 210px;
    transition: transform 0.3s ease-in-out;
    
}
.cardimg{
    border-radius: 20px;
    width: 210px;
    border: 5px solid;
    border-color: #fbd162;
    position: absolute;   
}
.cardimgIa{
    border-radius: 20px;
    width: 210px;
    border: 5px solid;
    border-color: #c43434;
    position: absolute; 
}

.hudCardFightAtk{
    color: azure;
    position: relative;
    background-color: rgb(24, 24, 24);
    width: 55px;
    height: 24px;
    border-radius: 20px;
    top: 74px;
    left: 14px;
}
.hudCardFightPv{
    color: azure;
    position: relative;
    color: azure;
    position: relative;
    background-color: rgb(24, 24, 24);
    width: 55px;
    height: 24px;
    border-radius: 20px;
    top: 50px;
    left: 140px;
}

.hudsell{
    position: relative;
    top: 47px;
    left: 40px
}


/* Animation de disparition */
.fade-out {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

/* Animation d'apparition */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cardInDeck0 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}
.cardInDeck1 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-left: 120px;
}
.cardInDeck2 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-left: 240px;
}
.cardInDeck3 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-left: 360px;
}
.cardInDeck4 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-left: 480px;
}
.cardInDeck5 {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    margin-left: 600px;
}




.cards{
 height: 103px;
 perspective: 1000px;
}

.cards :hover {
    z-index: 10
}

.content-card{
    
    transition: all 0.15s ease-out;
    height: 103px;
    border-radius: 20px;
}

.glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease-out;
    border-radius: 20px;
    mix-blend-mode: hard-light;
    background: radial-gradient(circle at 50% 0%, rgb(195, 205, 214), transparent);
    opacity: 0.5;

}

